{% include "header.j2.html" %}

<div id="app">
  <div class="container">

    <div v-if="!me" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="{{{url_for('join')}}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title">Hi, stranger! You're welcome to join the game.</h5>
              </div>
              <div class="modal-body">
                <p>Here's how we should call you:
                  <input type="text" name="name" value="Mysterious stranger" autofocus onFocus="this.select()"></p>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" >Yap, I'm in!</button>
                  <!--input type="submit" value="Yap, I'm in!"-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--div class="jumbotron text-center">
      <h3 v-if='me'>Hello, {{ me.name }}</h3>
      <h4>what a great day for a game of Less-Than-Two!</h4>
      <h5>Let's see who else is here ...</h5>
    </div-->
    
    
    <div class="card mt-3">
      <div class="card-header">
        <strong v-if="me && me.name">Hi {{ me.name }}! Let's see who else is here ...</strong>
      </div>
      <div class="card-group">
        <div v-for="(player) in game.players" v-bind:class="{ me: player.is_me, 'bg-primary': player.is_me, 'bg-secondary': player.is_me }" class="player card col-sm-2">
          {{ player.name }}
          <img src="/static/image/default_person.png" style="width: 100%; height: auto;">
          <button v-if="player.actions && 'remove' in player.actions" class="btn-danger" v-on:click="remove(player.actions.remove.url)">&#x1f5d1;</button>
        </div>
      </div>
    </div>

    
    <div v-if="game.actions.choose_guesser" class="card card-primary mt-3">
    <div class="card-header">
        <strong>Phase: {{ game.phase.description }}</strong>
      </div> 
      <div class="card-body">
        <div v-for="player in game.players">
          <input type="radio" v-model="game.guesser_pid" :value="player.pid" @change="execute(game.actions.choose_guesser, player.pid)">
          {{ player.name }}
        </div>
      </div>
      <div class="card-footer text-right">
        <button v-if="'next_phase' in game.actions" 
        class="btn btn-primary"
        @click='nextPhase(game.actions.next_phase.url)'>Phase beenden</button>
      </div>
    </div>


    <div v-if="game.actions.choose_word" class="card card-primary mt-3">
      <div class="card-header">
        <strong>Phase: Zu ratendes Wort bestimmen</strong>
      </div>
      <div class="card-body">
          <input type="text" v-model="game.solution">
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary"
            @click='nextPhase(game.actions.next_phase.url)'>
          Phase beenden</button>
      </div>
    </div>

    <div v-if="game.actions.give_clue" class="card card-primary mt-3">
      <div class="card-header">
        <strong>Phase: Hinweise geben</strong>
      </div>
      <div class="card-body">
        <input type="text" ref="my_clue">
        <button class="btn btn-primary"
            @click='giveClue(game.actions.give_clue.url, $refs["my_clue"].value)'>
          Hinweis abgeben</button>
      </div>
      <!-- <div class="card-footer text-right">
        <button class="btn btn-primary"
            @click='nextPhase(game.actions.next_phase.url)'>
          Phase beenden</button>
        <div class="debug">{{game.actions}}</div>
      </div> -->
    </div>

    {{ game.clues.length }}

    <div v-if="Object.keys(game.clues).length > 0" class="card card-primary mt-3">
      <div class="card-header">
        <strong>Phase: Doppelte Hinweise aussortieren</strong>
      </div>
      <div class="card-body">
        <div class="card-group">
          <div class="card" v-for="clue in game.clues">
            <small>{{clue.name}}</small>
            <strong>{{clue.word}}</strong>
            <input type="checkbox" 
                v-if="clue.actions.set_hidden"
                v-model="game.clues[clue.pid].hidden" 
                @change="execute(game.clues[clue.pid].actions.set_hidden, game.clues[clue.pid].hidden)">
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary"
            @click='nextPhase(game.actions.next_phase.url)'>
          Phase beenden</button>
      </div>
    </div>    

    <div v-if="game.actions.make_guess" class="card card-primary mt-3">
      <div class="card-header">
        <strong>Phase: Raten</strong>
      </div>
      <div class="card-body">
        <input type="text" v-model="game.solution">
        <button class="btn btn-primary"
            @click="execute(game.actions.make_guess, game.solution)">
          Tipp abgeben</button>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary"
            @click='nextPhase(game.actions.next_phase.url)'>
          Phase beenden</button>
      </div>
    </div>        

    <button class="btn btn-primary"
    @click='nextPhase(game.actions.next_phase.url)'>
  Phase beenden</button>

    <div v-if="game.actions.reset_game" class="text-right">
      <button class="btn btn-danger"
          @click="resetGame(game.actions.reset_game.url)">
        <small>
          Spiel zurücksetzen
        </small>
    </button>
    </div>
        
    <div class="debug card">
      <div class="card-header">
        <button class="btn btn-secondary" v-on:click="toggle_debug()"><small>Show JSON</small></button>
      </div>
      <div v-if="show_debug" class="card-body">
        <pre>{{ game }}</pre>
      </div>
    </div>
   
  </div><!-- container -->
</div><!-- app -->
  
<script>
  var game_state_url = "{{{ url_for('perspective') }}}"

  var socket = io()
  console.log(socket)
  socket.on('connect', function() {
    console.log('>>> sending message via sock')
    socket.emit('message', {data: 'Connected'})
  })

  socket.on('player notification', function(head) {
    clientVersion = app.updateState(head)
  })
</script>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      show_debug: false,
      game: {
        version: -1,
        players: [],
        clues: [],
        stage: {
          actions: {
            next_phase: true
          },
          guesser: null
        },
        actions: {}
      }
    },

    watch: {
      // 'game.guesser_pid': function(newVal, oldVal) {
      //   action = this.game.actions.choose_guesser
      //   url = action && action.url
      //   this.chooseGuesser(url, newVal)
      // },
      'game.solution': function(newVal, oldVal) {
        action = this.game.actions.choose_word
        url = action && action.url
        this.chooseWord(url, newVal)
      },
      'game.guess': function(newVal, oldVal) {
        action = this.game.actions.make_guess
        url = action && action.url
        this.makeGuess(url, newVal)
      },
    },

    mounted: function() {
      this.updateState()
    },

    methods: {
      updateState: function(head) {
        clientVersion = this.game.version
        serverVersion = (head && head.version) || null
        if (!serverVersion || serverVersion >= clientVersion) {
          console.log('>>> update state v' + clientVersion + " => v" + serverVersion + ".")
          var self = this
          axios.get(game_state_url).then(function(resp){
            console.log(resp.data)
            self.$set(self.game = resp.data)
          }) 
        }
      },

      toggle_debug: function() {
        this.show_debug = !this.show_debug
      },

      execute: function(action, newVal) {
        console.log(">>> execute(" + action + + "," + newVal + ")")
        axios({
          method: action.method,
          url: action.url,
          data: {
            'newVal': newVal
          }
        })
      },


      rename: function(url, newName) {
        console.log(">>> remove(" + url + + "," + newName + ")")
        axios.put(url, newName)
      },
      remove: function(url) {
        console.log(">>> remove(" + url + ")")
        axios.delete(url)
      },
      nextPhase: function(url) {
        console.log(">>> nextPhase(" + url + ")")
        axios.post(url)
      },
      chooseGuesser: function(url, pid) {
        console.log(">>> chooseGuesser(" + url + ", " + pid +")")
        axios.put(url, {'newVal': pid})
      },
      chooseWord: function(url, word) {
        console.log(">>> chooseWord(" + url + ", " + word +")")
        axios.put(url, {'newVal': word})
      },
      giveClue: function(url, word) {
        console.log(">>> giveClue(" + url + ", " + word +")")
        axios.post(url, {'newVal': word})
      },
      makeGuess: function(url, word) {
        console.log(">>> makeGuess(" + url + ", " + word +")")
        axios.put(url, {'newVal': word})
      },
      resetGame: function(url) {
        console.log(">>> resetGame()")
        axios.delete(url)
      },  
    },
    computed: {
      me: function() {
        for (const player of this.game.players) {
          if (player.is_me) {
            return player
          }
        }
      }
    }
  })
</script>