{% include "header.j2.html" %}

<div id="app">
  <div class="container">

    <div v-if="!me" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="{{{url_for('join')}}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title">Hi, stranger! You're welcome to join the game.</h5>
              </div>
              <div class="modal-body">
                <p>Here's how we should call you:
                  <input type="text" name="name" value="{{{ default_name }}}" autofocus onFocus="this.select()"></p>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" >Yap, I'm in!</button>
                  <!--input type="submit" value="Yap, I'm in!"-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--div class="jumbotron text-center">
      <h3 v-if='me'>Hello, {{ me.name }}</h3>
      <h4>what a great day for a game of Less-Than-Two!</h4>
      <h5>Let's see who else is here ...</h5>
    </div-->
    
    
    <div class="card">
      <div class="card-header">
        <strong v-if="me && me.name">Hi {{ me.name }}! Let's see who else is here ...</strong>
      </div>
      <div class="card-group">
        <div v-for="(player) in game.players" v-bind:class="{ me: player.is_me, 'bg-primary': player.is_me, 'bg-secondary': !player.is_me }" class="player card col-sm-2">
          <!-- <div class="card-header"> -->
            <p>{{ player.name }}</p>
          <!-- </div> -->
          <!-- <div class="card-body"> -->
            <img src="/static/image/default_person.png" style="width: 100%; height: auto;">
          <!-- </div> -->
          <!-- <div class="card-footer"> -->
            <button v-if="player.actions && 'remove' in player.actions" class="btn-danger" v-on:click="remove(player.actions.remove.url)">&#x1f5d1;</button>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header bg-primary">
        <p><strong>Phase: {{ game.phase.description }}</strong></p>
      </div>   

      <div class="card-group">
        <div class="card col-sm-4 bg-info" v-if="game.solution">
          <div class="card-header bg-info">
            <small>zu ratender Begriff</small>
          </div>
          <div class="card-body">
            <strong>{{ game.solution }}</strong>
          </div>
        </div>
        <div class="card col-sm-4 bg-info" v-if="game.guess">
          <div class="card-header bg-info">
            <small>geratener Begriff</small>
          </div>
          <div class="card-body">
            <strong>{{ game.guess }}</strong>
          </div>
        </div>        
      </div>

      <div class="card-body">
        <div class="card-group">
          <div class="card col-sm-3 bg-info" v-if="game.guess">
            <div class="card-header bg-info">
              <small>Geratener Begriff</small>
            </div>
            <div class="card-body">
              <strong>{{ game.guess }}</strong>
            </div>
          </div>
          <div class="card col-sm-3" :class="clue.hidden ? 'bg-secondary': 'bg-primary'" v-for="clue in game.clues">
            <div class="card-header"  :class="clue.hidden ? 'bg-secondary': 'bg-primary'">
              <small>{{clue.name}}</small>
            </div>
            <div class="card-body">
              <strong>{{clue.word}}</strong>
            </div>
            <div v-if="clue.actions.set_hidden" class="card-footer"  :class="clue.hidden ? 'bg-secondary': 'bg-primary'">
              <input type="checkbox" 
              v-if="clue.actions.set_hidden"
              v-model="game.clues[clue.pid].hidden" 
              @change="execute(game.clues[clue.pid].actions.set_hidden, game.clues[clue.pid].hidden)">versteckt
            </div>
          </div>
        </div>
      </div>
          
      <div v-if="game.actions.choose_guesser" class="card-body">
        <div v-for="player in game.players">
          <input type="radio" v-model="game.guesser_pid" :value="player.pid" @change="execute(game.actions.choose_guesser, player.pid)">
          {{ player.name }}
        </div>
      </div>

      <div v-if="game.actions.choose_solution" class="card-body">
        <input type="text" ref="my-solution">
        <button class="btn btn-primary"
            @click='execute(game.actions.choose_solution, $refs["my-solution"].value)'>
          Hinweis abgeben</button>        
      </div>  
      <!-- <div v-else-if="game.solution" class="card-body">
        Zu ratender Begriff: {{ game.solution }}
      </div>         -->

      <div v-if="game.actions.give_clue" class="card-body">
        <input type="text" ref="my-clue">
        <button class="btn btn-primary"
            @click='giveClue(game.actions.give_clue.url, $refs["my-clue"].value)'>
          Hinweis abgeben</button>
      </div>

      <div v-if="game.actions.make_guess" class="card-body">
        <input type="text" v-model="game.guess">
        <button class="btn btn-primary"
            @click="execute(game.actions.make_guess, game.guess)">
          Tipp abgeben</button>
      </div>

      <div class="card-footer text-right">
        <input v-if="game.actions.reset_game" data-toggle="toggle"
            type="checkbox" v-model="reset_enabled">
        <button v-if="game.actions.reset_game"
            :disabled="!reset_enabled"
            class="btn btn-danger btn-small"
            @click="resetGame(game.actions.reset_game.url)">
          <small>
            Spiel zurücksetzen
          </small>
        </button>
        <button class="btn btn-primary"
            @click='nextPhase(game.actions.next_phase.url)'>
          Phase beenden
        </button>
      </div>
    </div>        
        
    <div class="debug card">
      <div class="card-header">
        <button class="btn btn-secondary" v-on:click="toggle_debug()"><small>Show JSON</small></button>
      </div>
      <div v-if="show_debug" class="card-body">
        <pre>{{ game }}</pre>
      </div>
    </div>
   
  </div><!-- container -->
</div><!-- app -->
  
<script>
  var game_state_url = "{{{ url_for('perspective') }}}"

  var socket = io()
  console.log(socket)
  socket.on('connect', function() {
    console.log('>>> sending message via sock')
    socket.emit('message', {data: 'Connected'})
  })

  socket.on('player notification', function(head) {
    clientVersion = app.updateState(head)
  })
</script>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      show_debug: false,
      reset_enabled: false,
      game: {
        version: -1,
        players: [],
        clues: [],
        stage: {
          actions: {
            next_phase: true
          },
          guesser: null
        },
        actions: {}
      }
    },

    watch: {
      'game.solution': function(newVal, oldVal) {
        action = this.game.actions.choose_word
        url = action && action.url
        this.chooseWord(url, newVal)
      }
    },

    mounted: function() {
      this.updateState()
    },

    methods: {
      updateState: function(head) {
        clientVersion = this.game.version
        serverVersion = (head && head.version) || null
        if (!serverVersion || serverVersion >= clientVersion) {
          console.log('>>> update state v' + clientVersion + " => v" + serverVersion + ".")
          var self = this
          axios.get(game_state_url).then(function(resp){
            console.log(resp.data)
            self.$set(self.game = resp.data)
          }) 
        }
      },

      toggle_debug: function() {
        this.show_debug = !this.show_debug
      },

      execute: function(action, newVal) {
        console.log(">>> execute(" + action + + "," + newVal + ")")
        axios({
          method: action.method,
          url: action.url,
          data: {
            'newVal': newVal
          }
        })
      },


      rename: function(url, newName) {
        console.log(">>> remove(" + url + + "," + newName + ")")
        axios.put(url, newName)
      },
      remove: function(url) {
        console.log(">>> remove(" + url + ")")
        axios.delete(url)
      },
      nextPhase: function(url) {
        console.log(">>> nextPhase(" + url + ")")
        axios.post(url)
      },
      chooseGuesser: function(url, pid) {
        console.log(">>> chooseGuesser(" + url + ", " + pid +")")
        axios.put(url, {'newVal': pid})
      },
      chooseWord: function(url, word) {
        console.log(">>> chooseWord(" + url + ", " + word +")")
        axios.put(url, {'newVal': word})
      },
      giveClue: function(url, word) {
        console.log(">>> giveClue(" + url + ", " + word +")")
        axios.post(url, {'newVal': word})
      },
      makeGuess: function(url, word) {
        console.log(">>> makeGuess(" + url + ", " + word +")")
        axios.put(url, {'newVal': word})
      },
      resetGame: function(url) {
        console.log(">>> resetGame()")
        axios.delete(url)
      },  
    },
    computed: {
      me: function() {
        for (const player of this.game.players) {
          if (player.is_me) {
            return player
          }
        }
      }
    }
  })
</script>