{% include "header.j2.html" %}

<div id="app">
  <div class="container">

    <div v-if="!me_in_players" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="{{{url_for('join')}}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title">Hi, stranger! You're welcome to join the game.</h5>
              </div>
              <div class="modal-body">
                <p>Here's how we should call you:
                  <input type="text" name="name" value="{{{ default_name }}}" autofocus onFocus="this.select()"></p>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" >Yap, I'm in!</button>
                  <!--input type="submit" value="Yap, I'm in!"-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <!-- <div class="card-header">
        <strong v-if="me && me.name">Hi {{ me.name }}! Let's see who else is here ...</strong>
      </div> -->
      <div class="row">
        <div v-for="(player, pid) in game.players" 
            v-bind:class="{ 'bg-primary': pid == game.guesser }"
            class="player card col-sm-2">
          <!-- <div class="card-header"> -->
            <p>{{ player.name }}</p>
          <!-- </div> -->
          <!-- <div class="card-body"> -->
            <img src="/static/image/default_person.png" 
            style="width: 80%; max-width: 100px; height: auto; margin:auto">
            <!-- </div> -->
            <!-- <div class="card-footer"> -->
            <p>
              <button v-if="player.actions && 'remove' in player.actions" 
                  class="btn-danger btn-xs float-right" v-on:click="execute(player.actions.remove)">
                <small>&#x1f5d1;</small>
              </button>
            </p>
          <!-- </div> -->
        </div>    
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header bg-primary">
        <p><strong>Phase: {{ game.phase && game.phase.description }}</strong></p>
      </div>   

      <!-- <div class="card-group">
        <div class="card col-sm-4 bg-info" v-if="game.solution">
          <div class="card-header bg-info">
            <small>zu ratender Begriff</small>
          </div>
          <div class="card-body">
            <strong>{{ game.solution }}</strong>
          </div>
        </div>
        <div class="card col-sm-4 bg-info" v-if="game.guess">
          <div class="card-header bg-info">
            <small>geratener Begriff</small>
          </div>
          <div class="card-body">
            <strong>{{ game.guess }}</strong>
          </div>
        </div>        
      </div> -->

      <!-- central card space -->

      <div class="card-body">
        <div class="row">

          <!-- solution card -->
          <div class="card col-sm-3 bg-info" 
              v-if="game.solution">
            <div class="card-header bg-info">
              <small>zu ratender Begriff</small>
            </div>
            <div class="card-body">
              <strong>{{ game.solution }}</strong>
            </div>
          </div>

          <!-- final guess card -->
          <div class="card col-sm-3 bg-info" 
              v-if="game.guess">
            <div class="card-header bg-info">
              <small>Geratener Begriff</small>
            </div>
            <div class="card-body">
              <strong>{{ game.guess }}</strong>
            </div>
          </div>            

          <!-- clue cards -->
          <div v-for="clue in game.clues"
              class="card col-sm-3" 
              :class="clue.hidden ? 'bg-secondary': 'bg-primary'">
            <div class="card-header"  
                :class="clue.hidden ? 'bg-secondary': 'bg-primary'">
              <small>{{clue.name}}</small>
            </div>
            <div class="card-body">
              <strong>{{clue.word}}</strong>
            </div>
            <div v-if="clue.actions && clue.actions.set_hidden" 
                class="card-footer"  
                :class="clue.hidden ? 'bg-secondary': 'bg-primary'">
              <input type="checkbox" 
                  v-if="clue.actions.set_hidden"
                  v-model="game.clues[clue.pid].hidden" 
                  @change="execute(game.clues[clue.pid].actions.set_hidden, game.clues[clue.pid].hidden)">
                  streichen
            </div>
          </div>

        
        </div>
      </div>
          
      <!-- personal action area -->

      <div v-if="game.actions.choose_guesser" 
          class="card-body">
        <div class="card-header">
          Wer soll in dieser Runde raten?
        </div>
        <div class="card-body">
          <div v-for="player in game.players">
            <input type="radio" 
            v-model="game.guesser" 
            :value="player.pid" 
            @change="execute(game.actions.choose_guesser, player.pid)">
            {{ player.name }}
          </div>
        </div>
      </div>

      <div v-if="game.actions.choose_solution" 
          class="card-body">
        <div class="card-header">
          Welcher Begriff soll in dieser Runde geraten werden?
        </div>
        <div class="card-body">
          Neuer Begriff: 
          <input type="text" id="my-solution" ref="my-solution"
              @keyup.enter.native='execute(game.actions.choose_solution, $refs["my-solution"].value)'
          >
          <button class="btn btn-primary"
              :disabled="value_non_empty('solution')"
              @click='execute(game.actions.choose_solution, $refs["my-solution"].value)'>
            Absenden
          </button>        
        </div>
      </div>  

      <div v-if="game.actions.give_clue" class="card-body">
        <div class="card-header">
          Gib einen Hinweis zum Ratebegriff "{{ game.solution }}" ein!
        </div>
        <div class="card-body">
          <input type="text" id="my-clue" ref="my-clue"
              @keyup.enter.native='execute(game.actions.give_clue, $refs["my-clue"].value)'
          >
          <button class="btn btn-primary"
              :disabled="value_non_empty('my_guess')"
              @click='execute(game.actions.give_clue, $refs["my-clue"].value)'>
          Hinweis abgeben</button>
        </div>        
      </div>
      
      <div v-if="game.actions.make_guess" class="card-body">
        <div class="card-header">
          Welcher Begriff ist hier wohl gemeint?
        </div>
        <div class="card-body">
          <input type="text" id="my-guess" ref="my-guess"
              @keyup.enter.native="execute(game.actions.make_guess, $refs['my-guess'].value)"
          >
          <button class="btn btn-primary"
              :disabled="value_non_empty('my_guess')"
              @click="execute(game.actions.make_guess, $refs['my-guess'].value)">
            Tipp abgeben</button>
        </div>        
      </div>

      <div class="card-footer text-right">
        
        <input v-if="game.actions.reset_game" data-toggle="toggle"
            type="checkbox" v-model="reset_enabled">
        <button v-if="game.actions.reset_game"
            :disabled="!reset_enabled"
            class="btn btn-danger btn-small"
            @click="execute(game.actions.reset_game)">
          <small>
            Spiel zurücksetzen
          </small>
        </button>
        <button :disabled="!game.actions.next_phase"
            class="btn btn-primary"
            @click='execute(game.actions.next_phase)'>
          Phase beenden
        </button>
      </div>
    </div>        
        
    <div class="debug card">
      <div class="card-header">
        <button class="btn btn-secondary" v-on:click="toggle_debug()"><small>Show JSON</small></button>
      </div>
      <div v-if="show_debug" class="card-body">
        <pre>{{ game }}</pre>
      </div>
    </div>
   
  </div><!-- container -->
</div><!-- app -->
  
<script>
  var game_state_url = "{{{ url_for('perspective') }}}"

  var socket = io()
  console.log(socket)
  socket.on('connect', function() {
    console.log('>>> sending message via sock')
    socket.emit('message', {data: 'Connected'})
  })

  socket.on('player notification', function(head) {
    clientVersion = app.updateState(head)
  })
</script>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      show_debug: false,
      reset_enabled: false,
      game: {
        version: -1,
        players: [],
        clues: [],
        stage: {
          actions: {
            next_phase: true
          },
          guesser: null
        },
        actions: {}
      }
    },

    mounted: function() {
      this.updateState()
    },

    methods: {
      updateState: function(head) {
        clientVersion = this.game.version
        serverVersion = (head && head.version) || null
        if (!serverVersion || serverVersion >= clientVersion) {
          console.log('>>> update state v' + clientVersion + " => v" + serverVersion + ".")
          var self = this
          axios.get(game_state_url).then(function(resp){
            console.log(resp.data)
            self.$set(self.game = resp.data)
          }) 
        }
      },

      value_non_empty: function(ref) {
        elem = this.$refs[ref]
        return elem && elem.value && elem.value.length && elem.value.length >= 2
      },

      toggle_debug: function() {
        this.show_debug = !this.show_debug
      },

      execute: function(action, newVal) {
        console.log(">>> execute(" + action + + "," + newVal + ")")
        axios({
          method: action.method,
          url: action.url,
          data: {
            'newVal': newVal
          }
        })
      },
    },

    computed: {
      me_in_players: function() {
        return this.game.me in this.game.players
      }
    }
  })
</script>